<div class="app-counter__container">
    <img src="assets/left-arrow.svg" class="app-counter__remove" (click)="changeValue(-1)" />

    <div class="app-counter__value">
        {{ value | appDozens }}
    </div>

    <img src="assets/right-arrow.svg" class="app-counter__add" (click)="changeValue(+1)" />
</div>

<button mat-raised-button class="app-counter__reset" color="accent" (click)="changeValue(-value)">Reset</button>
