.app-counter {
    &__container {
        display: flex;
        flex-direction: row;
        width: 100%;
        font-size: 30px;
    }

    &__add,
    &__remove {
        cursor: pointer;
        padding: 16px 8px;
        margin: 0;
    }

    &__value {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 16px;
    }
}
