<h1>Welcome Browserstack!</h1>
<h3>Try run <span appCode>ng test:browserstack</span> OR <span appCode>ng test:local</span></h3>

<p>
    Behavior
</p>
<ul>
    <li>Add/Subtract 1 from the value using the buttons</li>
    <li>Displays 0 when value is 0 or negative</li>
    <li>Displays 1-9 when value is between 1 and 9</li>
    <li>Displays <span appCode>[dozens]*10 + [units]</span> when value is > 9</li>
</ul>
<app-counter></app-counter>
